<!DOCTYPE html>
<html>
<head>
    <title>管理员列表</title>
    <#include "/header.html">
</head>
<style>
    html {
        height: 100%;
    }

    .aBtn {
        padding: 15px 0px;
        text-align: center;
        width: 100%;
        font-size: large
    }

    .iBtn {
        padding: 0px 20px;
        width: 100%;
        text-align: center;
        margin-top: -25px
    }
</style>
<body style="height: 100%">
<div style="padding:10px 4%; width: 100%;height: 45px; font-size: large;background-color: #ced5d2">
    <span style="padding-top: 10px;padding-bottom: 10px">培养方案详情</span>
</div>
<div id="rrapp" v-cloak style="height: 85%;margin-top: 10px">
    <div style="width: 18%;float: left;padding-left:  4%;padding-right: 4%">
        <div>
            <a class="btn btn-default aBtn" @click="back">培养方案</a>
        </div>
        <div>
            <i class="fa fa-sort-desc fa-4x iBtn" style=""></i>
        </div>
        <div>
            <a class="btn btn-primary  aBtn"  @click="jump('train_info.html')" >标准能力</a>
        </div>
        <div>
            <i class="fa fa-sort-desc fa-4x  iBtn"></i>
        </div>
        <div>
            <a class="btn btn-primary  aBtn"  @click="jump('train_info.html')" >专业培养目标</a>
        </div>
        <div>
            <i class="fa fa-sort-desc fa-4x  iBtn"></i>
        </div>
        <div>
            <a class="btn btn-primary  aBtn"  @click="jump('train_info.html')" >培养目标支撑清单</a>
        </div>
        <div>
            <i class="fa fa-sort-desc fa-4x  iBtn"></i>
        </div>
        <div>
            <a class="btn btn-primary  aBtn"  @click="jump('train_info.html')" >课程信息</a>
        </div>
        <div>
            <i class="fa fa-sort-desc fa-4x  iBtn"></i>
        </div>
        <div>
            <a class="btn btn-primary  aBtn"  @click="jump('train_info.html')" >课程能力清单</a>
        </div>
        <div>
            <i class="fa fa-sort-desc fa-4x  iBtn"></i>
        </div>
        <div>
            <a class="btn btn-primary  aBtn"  @click="jump('train_info.html')" >其他信息</a>
        </div>
        <div>
            <i class="fa fa-sort-desc fa-4x  iBtn"></i>
        </div>
        <div>
            <a class="btn btn-primary  aBtn"  @click="jump('train_info.html')" >教学大纲</a>
        </div>
    </div>
    <iframe id="details_iframe" src="train_info.html" frameborder="0" id="demoAdmin"
            style="width: 80%; height: 90%; float: right"></iframe>
</div>

<script src="${request.contextPath}/statics/js/modules/tra/train_details.js?_${.now?long}"></script>
</body>
</html>