<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加角色</title>
    <link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui/css/layui.css">
    <#include "/header.html">
    <script src="${request.contextPath}/statics/plugins/layui/layui.js"></script>
</head>
<body>
<div style="padding: 10px 20px;">
    <button class="layui-btn layui-btn-small" id="add" lay-filter="*" style="margin-left: 0px">确定</button>
    <button type="reset" class="layui-btn-small layui-btn-primary" id="back" style="margin-left: 100px">返回</button>
</div>
<form class="layui-form">
    <div style="padding: 10px 20px">
        <input name="userIds" id="userIds" hidden>
        <span id="title">请选择添加角色</span>
        <table id="roleTable" style="margin-top: 5px;width: 100%">
        </table>
    </div>
</form>

</body>
<script src="${request.contextPath}/statics/js/modules/sys/user_addrole.js?_${.now?long}"></script>
</html>